{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Modifica LEGO</h2>

    <form method="POST">

        <input class="form-control mb-2"
               name="name"
               value="{{ lego.name }}"
               required>

        <input class="form-control mb-2"
               name="set_number"
               value="{{ lego.set_number }}"
               required>

        <input class="form-control mb-2"
               name="pieces"
               value="{{ lego.pieces or '' }}"
               placeholder="Pezzi">

        <input class="form-control mb-2"
               name="year"
               value="{{ lego.year or '' }}"
               placeholder="Anno">

        <textarea class="form-control mb-2"
                  name="description">{{ lego.description }}</textarea>

        <input class="form-control mb-2"
               name="image_url"
               value="{{ lego.image or '' }}"
               placeholder="URL immagine">

        <button class="btn btn-success">
            Salva modifiche
        </button>

    </form>

</div>

{% endblock %}