{% extends "base.html" %}

{% block content %}

<style>

.lego-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    justify-items: center;
    padding: 10px;
}

.lego-item {
    width: 100%;
    height: 100%; 
    max-width: 600px;
    object-fit: cover; 
    border-radius: 10px;
}

.lego-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.lego-item img:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.lego-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    margin-top: 30px;
    padding: 10px;
}

.lego-card {
    background: #f2f2f2;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.lego-card img {
    width: 100%;
    border-radius: 8px;
}

.lego-card p {
    margin-top: 10px;
    font-weight: bold;
}

.lego-card:hover {
    transform: scale(1.05);
    background: #e6e6e6;
}

.hero-catalogo {
    margin-top: 60px;
    text-align: center;
}

.hero-catalogo img {
    width: 90%;
    max-width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.hero-catalogo img:hover {
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .lego-gallery {
        grid-template-columns: 1fr;
    }
}
</style>

<div style="text-align:center; margin-top:30px;">
    <h1>Benvenuto in Lego World</h1>
    <p>Scopri, colleziona e gestisci i tuoi Set LEGO</p>
</div>

<div class="lego-gallery">

    <a href="{% if current_user.is_authenticated %}{{ url_for('main.dashboard') }}{% else %}{{ url_for('auth.register') }}{% endif %}">
        <div class="lego-item">
            <img src="https://i.redd.it/l61mtdtjusj71.jpg">
        </div>
    </a>

    <a href="{{ url_for('main.catalogo') }}">
        <div class="lego-item">
            <img src="https://images.unsplash.com/photo-1587654780291-39c9404d746b">
        </div>
    </a>

    <div class="lego-item">
        <img src="https://immagini.trovaprezzi.it/magazine/2024/12/Lego-la-storia-1.jpg">
    </div>

    <a href="{{ url_for('main.about') }}">
        <div class="lego-item">
            <img src="https://media.printables.com/media/prints/630574/images/4994599_66e5d32b-a0da-407b-a49a-b13ca0b3793c_407b4599-ead4-44d4-a496-2d398541bdf5/thumbs/inside/1280x960/png/led_lego_render_2023-oct-29_03-44-37pm-000_customizedview46356661205.webp">
        </div>
    </a>

</div>

{% endblock %}
